* {
    border: red solid px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-image: url(Metetials/Background.jpg);
    background-size: cover;
    font-size: 1vw;
    
}


.MainPage {
    width: 100vw;
}
    .LogoContainer {
        display: flex;
        justify-content: center;
        margin: auto;
    }
        .LogoContainer img {
            width: 9vw;
            margin: 4rem 0 0 0;
        }


    /* ------- Title ------- */
    .TitleForm {
        display: flex;
        justify-content: center;
    }
        .TitleForm h1 {
            font-size: 3rem;
        }

    
    /* ------- FormContainer ------- */
    .FormContainer {
        display: flex;
        width: 30rem;
        height: 20vw;
        margin: auto;
        align-items: center;
        flex-direction: column;
        background-color: rgb(134, 134, 134);
        opacity: 70%;
        margin-top: 1rem;
    }
        .FormContainer h2 {
            font-size: 2rem;
            margin: 2rem 0 0 0;
        }
        form {
            margin: 2rem;
        }
            form img {
                width: 1.5rem;
                opacity: 100%;
            }
            form input {
                width: 18rem;
                height: 2.5rem;
                font-size: 1rem;
                background: transparent;
            }
            form button {
                background-color: rgb(201, 3, 3);
                padding: 0.5rem 10rem;
                margin: 1rem 0;
                opacity: 100%;
            }
            form table {
                border-spacing: 0.5rem 0.5rem;
            }
  